//! **************************************************************************
// Written by: Map P.20131013 on Wed Apr 26 19:27:02 2017
//! **************************************************************************

SCHEMATIC START;
COMP "M_CLOCK" LOCATE = SITE "P123" LEVEL 1;
COMP "RX_IN" LOCATE = SITE "P120" LEVEL 1;
COMP "TX_OUT" LOCATE = SITE "P126" LEVEL 1;
COMP "IO_LED<0>" LOCATE = SITE "P47" LEVEL 1;
COMP "IO_LED<1>" LOCATE = SITE "P48" LEVEL 1;
COMP "IO_LED<2>" LOCATE = SITE "P45" LEVEL 1;
COMP "IO_LED<3>" LOCATE = SITE "P46" LEVEL 1;
COMP "IO_LED<4>" LOCATE = SITE "P43" LEVEL 1;
COMP "IO_LED<5>" LOCATE = SITE "P44" LEVEL 1;
COMP "IO_LED<6>" LOCATE = SITE "P40" LEVEL 1;
COMP "IO_LED<7>" LOCATE = SITE "P41" LEVEL 1;
COMP "IO_DSW<0>" LOCATE = SITE "P67" LEVEL 1;
COMP "IO_DSW<1>" LOCATE = SITE "P66" LEVEL 1;
COMP "IO_DSW<2>" LOCATE = SITE "P62" LEVEL 1;
COMP "IO_DSW<3>" LOCATE = SITE "P61" LEVEL 1;
COMP "IO_DSW<4>" LOCATE = SITE "P58" LEVEL 1;
COMP "IO_DSW<5>" LOCATE = SITE "P57" LEVEL 1;
COMP "IO_DSW<6>" LOCATE = SITE "P56" LEVEL 1;
COMP "IO_DSW<7>" LOCATE = SITE "P55" LEVEL 1;
COMP "F_LED<0>" LOCATE = SITE "P114" LEVEL 1;
COMP "F_LED<1>" LOCATE = SITE "P115" LEVEL 1;
COMP "F_LED<2>" LOCATE = SITE "P116" LEVEL 1;
COMP "F_LED<3>" LOCATE = SITE "P117" LEVEL 1;
COMP "IO_SSEGD<0>" LOCATE = SITE "P92" LEVEL 1;
COMP "IO_SSEGD<1>" LOCATE = SITE "P93" LEVEL 1;
COMP "IO_PB<0>" LOCATE = SITE "P80" LEVEL 1;
COMP "IO_PB<1>" LOCATE = SITE "P81" LEVEL 1;
COMP "IO_SSEGD<2>" LOCATE = SITE "P84" LEVEL 1;
COMP "IO_SSEGD<3>" LOCATE = SITE "P88" LEVEL 1;
COMP "IO_PB<2>" LOCATE = SITE "P78" LEVEL 1;
COMP "IO_PB<3>" LOCATE = SITE "P79" LEVEL 1;
COMP "IO_SSEG<0>" LOCATE = SITE "P102" LEVEL 1;
COMP "IO_SSEG<1>" LOCATE = SITE "P105" LEVEL 1;
COMP "IO_SSEG<2>" LOCATE = SITE "P101" LEVEL 1;
COMP "IO_SSEG<3>" LOCATE = SITE "P97" LEVEL 1;
COMP "IO_SSEG<4>" LOCATE = SITE "P98" LEVEL 1;
COMP "IO_SSEG<5>" LOCATE = SITE "P100" LEVEL 1;
COMP "IO_SSEG<6>" LOCATE = SITE "P104" LEVEL 1;
COMP "IO_SSEG<7>" LOCATE = SITE "P99" LEVEL 1;
COMP "IO_SSEG_COL" LOCATE = SITE "P87" LEVEL 1;
SCHEMATIC END;

